{% extends "_layout.html" %}
{% block content %}
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class="alert alert-success" role="alert">
      <ul class="flashes text-center mb-0">
        {% for message in messages %}
        <li class="list-unstyled">{{ message }}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
{% endwith %}
<h1 class="mb-4">Create Warehouse</h1>
<form action="{{ url_for('create_warehouse') }}" method="POST">
    <div class="form-row align-items-center">
        <div class="form-group col">
            <label for="warehouse_location">Warehouse Location</label>
            <input type='text' name='warehouse_location' class="form-control" />
        </div>
        <div class="form-group col">
            <label for="store_id">Select Store</label>
            <select class="form-control" name="store_id" id="store_id">
                <option hidden disabled selected value>-- List of Stores --</option>
                  {% if store_list %}
                    {% for store in store_list %}
                    <option value="{{store.id}}">{{store.name}}</option>
                    {% endfor %}
                  {% endif %}
            </select>
        </div>
        <div class="col-md-2">
              <button type="submit" class="btn btn-primary btn-block mt-3">Add Warehouse</button>
        </div>
  </div>
</form>
{% endblock %}